<section>
  <div class="responsive-container-block bigContainer about-us">
    <div class="responsive-container-block Container">
      <img class="mainImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/eaboutus1.svg">
      <div class="allText aboveText">
        <p class="text-blk headingText">
          Our Mission
        </p>
        <p class="text-blk subHeadingText">
          Deliver you best products in market with best prices.
        </p>
        <p class="text-blk description">
          We are targeting all products you want to but, follow us in our website to get daily offers and find products you may want.
        </p>
      </div>
    </div>
  </div>
</section>
