<section class="bg-white py-20">
  <div class="container mx-auto px-4">
      <div class="flex flex-col md:flex-row items-center justify-between">
          <div class="md:w-1/2 mb-8 md:mb-0">
              <h1 class="text-Gray font-bold text-5xl leading-tight mb-6">Discover our new offers!!</h1>
              <p class="text-Gray text-xl mb-8">Find your best products and feel free to get all what you need</p>
              <a routerLink="/products"
                  class="px-6 py-3  text-white font-bold rounded-full hover:bg-blue-700 transition duration-200" style="background-color: #581c87;">Shop
                  now</a>
          </div>
          <div class="md:w-1/2">
              <img src="https://th.bing.com/th/id/OIP.z0UsXytGNmZVCjpnnZtLxwHaE7?rs=1&pid=ImgDetMain" alt="Market"
                  class="w-full rounded-lg shadow-lg">
          </div>
      </div>
  </div>
</section>
<app-about-us />
<app-contact-us />
