<div class="container">
  <div class="box">
    <div class="row" *ngIf="!loading">
      <div class="col-md-5 col-sm-12">
        <img [src]="product.image" alt="">
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="info">
          <ul class="list-unstyled">
            <li><strong>Title: </strong>{{product.title}}</li>
            <li><strong>Category: </strong>{{product.category}}</li>
            <li><strong>Description :</strong>{{product.description}}</li>
            <li><strong>Rate: </strong>{{product.rating.rate}}</li>
            <li><strong>Count: </strong>{{product.rating.count}}</li>
            <li><strong>Price: </strong>{{product.price}} L.E</li>
            <li>
              <button type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" *ngIf="!addflag" (click)="addflag = true" >Add to cart</button>
              <div class="d-flex w-50 my-3" *ngIf="addflag" >
                <input type="number" class="form-control" [(ngModel)]="amount">
                <button class="btn btn-danger ml-2" (click)="sendCart()" (click)="addflag = false">Add</button>
              </div>
              <button routerLink="/products" type="button" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Back</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center">
      <app-spinner *ngIf="loading" />
    </div>
  </div>
</div>
